body {
  background-color: #343334;
  color: #28232f;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 500;
  font-size: 18px;

  h1{
    //color: #28B0DF;
    font-weight: 800;
    //float: left;
  }
}
header{
  height: 60px;
  background-color: #28B0DF;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  form {
    display: flex;
    padding: 15px 0 15px 0;
    align-items: stretch;

    .fa-magnifying-glass{
      position: absolute;
      margin: 6px 0 0 3px;
    }

    input:focus{
      z-index: 20;
    }

    input, select{
      background-color: #F0EBF0;
      border: 0.1px rgba(52, 51, 52, 0.6) solid;
      border-radius: 5px;
      margin: 0 4px 0 0
    }
  }
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container {
  border-radius: 25px 5px 25px 5px;
  display: block;
  width: 500px;
  background-color: rgba(242, 239, 243, 0.92);
  margin: 100px 10px 0 10px;
  color: #343334;


  .img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 150px;
    overflow: hidden;
    width: 100%;
    transition: height 1s;
    &:hover{
      height: 300px;
    }

    img {
      transition: height 1s;
      height: 300px;
      width: 100%;
      object-fit: cover;
      resize: none;
      border-radius: 20px 5px 0 0 !important;
      margin: auto;
    }
  }
  .info-container{
    margin-top: 10px;
    line-height: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {
    min-height: 30px;
      //background-color: #333333;
      width: 237.5px;

      h1, h2{
        padding: 0 10px 10px 10px;
      }
    }
  }
}

